
.jumbotron {
    background-image: url(img/slider.jpg);
    background-size: cover;
    height: 780px;
    text-align: center;
    margin-top: -120px;
}
.jumbotron .display-4{
    color: azure;
    margin-top: 250px;
}
.jumbotron p{
    color: azure;
    font-size: 27px;
}
.jumbotron hr{
    border-color: #ffbd59;
    width: 70px;
    border-width: 3px;
}
.jumbotron .btn{
    border: none;
    border-radius: 25px;
    padding: 0 18px 0 18px;
    margin-top: 30px;
}
.jumbotron .text{
    color: #ffbd59;
}
.jumbotron .text1{
    color: black;
    font-size: 18px;
}